@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

* {
	font-family: 'Arial', sans-serif;
	text-transform: capitalize;
	text-decoration:none;
	outline: none;
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}
*::selection {
	background:#ff046f;
	color:#fff;
}

html {
	font-size: 85%;
	overflow-x: hidden;
}

body {
	background: #fff0f5;
}
.heading {
	font-size: 4rem;
	color:#ff046f;
	text-align:center;
	padding: 6rem 1rem 0 0;
	letter-spacing: .2rem;
	font-weight: 500;
}
.title{
	padding: 0 1rem;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}
header {
	width:100%;
	background:#ff9999;
	position:fixed;
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
	z-index: 1000;
	transition: .2s;
}
header .navbar ul {
	display:flex;
	align-items: center;
	justify-content: space-between;
	list-style:none;
}

header .navbar ul li {
	margin: 0 1rem;
}

header .navbar ul li a {
	font-size: 2rem;
	color:#fff;
	transition: .2s;
}

header .navbar ul li .active,
header .navbar ul li a:hover {
	color:#ff046f;
}

header .logo {
	font-size: 2.5rem;
	color:#fff;
	text-transform:uppercase
}

header .fa-bars {
	font-size:3rem;
	color:#ff046f;
	cursor:pointer;
	display:none;
	transition: .2s;
}
.instrucciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.instrucciones img {
    width: 65%; 
    height: auto; 
    max-width: 100%; 
}
.etiqueta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.etiqueta img {
    width: 35%; 
    height: auto; 
    max-width: 100%; 
}
.declaracion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.declaracion img {
    width: 35%; 
    height: auto; 
    max-width: 100%; 
}
.descarga .box-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

.descarga .box-container .box {
	height:20rem;
	width:20rem;
	background:#3a4569;
	text-align:center;
	border-radius:1rem;
	box-shadow:0 .3rem 5rem rgba(0,0,0,.5);
	margin: 2rem;
	cursor: pointer;
}

.descarga .box-container .box i {
	height:6rem;
	width:6rem;
	line-height: 6rem;
	text-align: center;
	border-radius: 50%;
	color:#fff;
	background:#c63bfa;
	font-size:3rem;
	margin: 2rem 0;
	transition: .2s;
}

.descarga .box-container .box h3 {
	font-size: 2rem;
	color: #ff046f;
	transition: .2s;
}

.descarga .box-container .box p {
	font-size: 1.3rem;
	padding: .7rem 2rem;
	color: #fff;
	
}

.descarga .box-container .box:hover i {
	background:#ff046f;
}

.descarga .box-container .box:hover h3 {
	color:#c63bfa;
}
.descarga {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.descarga button{
	height: 2.5rem;
	width: 10rem;
	border-radius: 1rem;
	background:#ff046f;
	color:#fff;
	font-size: 1rem;
	cursor: pointer;
	transition:.2s;
	box-shadow:0 .3rem 1rem rgba(0,0,0,.3);
	margin-top: 2rem;
	border-color:#ff046f;
	align-items:center;

}
.basedatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.basedatos button{
	height: 2.5rem;
	width: 10rem;
	border-radius: 1rem;
	background:#ff046f;
	color:#fff;
	font-size: 1rem;
	cursor: pointer;
	transition:.2s;
	box-shadow:0 .3rem 1rem rgba(0,0,0,.3);
	margin-top: 2rem;
	border-color:#ff046f;
	align-items:center;

}
footer {
						background-color: #333;
						color: #fff;
						padding: 20px;
						text-align: center;
						width:100%;
					}

					footer p {
						margin-bottom: 10px;
					}

					footer a {
						color: #fff;
						text-decoration: none;
						margin: 0 10px;
					}

					footer a:hover {
						text-decoration: none;
					}
